@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: whitesmoke;
}

header {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 25px 20px -20px;
}
header .mobile_header {
  display: none;
}
header .desktop_header {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  width: 98%;
  align-items: center;
}
header .desktop_header ul,
header .desktop_header li {
  display: inline-block;
  text-align: center;
  margin: 10px;
  text-transform: uppercase;
  font-size: 0.7rem;
}
header .desktop_header .icons {
  margin-left: auto;
}
header .desktop_header .icons * {
  font-size: 1.2rem;
}
header img {
  width: 85px;
  height: 60px;
  max-width: 100%;
}

a:-webkit-any-link {
  color: black;
}

a:-moz-any-link {
  color: black;
}

a:any-link {
  color: black;
}

.fa-bars {
  cursor: pointer;
}

article {
  margin: 2rem;
}
article .scrollable-categories {
  overflow: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
article .scrollable-categories .card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  width: 13rem;
  height: 13rem;
}
article .scrollable-categories .card .card-image {
  background: rgb(2, 0, 36);
  background: linear-gradient(120deg, rgb(2, 0, 36) 0%, rgb(209, 209, 255) 0%, rgb(106, 193, 210) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
article .scrollable-categories .card .card-image img {
  width: 8rem;
  height: 8rem;
}
article .scrollable-categories .card .card-title {
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: white;
}
article .scrollable-categories .card .card-title h1 {
  margin-left: 1rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}
article .scrollable-categories .card:hover .card-image {
  background: linear-gradient(120deg, rgb(151, 151, 252) 0%, rgb(120, 140, 255) 100%);
}
article .scrollable-categories .card:hover .card-title {
  background-color: black;
  color: whitesmoke;
}

main h1 {
  margin-bottom: 2rem;
  margin-top: 2rem;
  font-size: 1.4rem;
  font-weight: normal;
}

.responsive-images {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.responsive-images .responsive-image-card {
  width: 100%;
  background-color: white;
}
.responsive-images .responsive-image-card .responsive-image picture,
.responsive-images .responsive-image-card .responsive-image img {
  width: 100%;
}
.responsive-images .responsive-image-card .responsive-title {
  margin: 1rem;
}
.responsive-images .responsive-image-card .responsive-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
}
.responsive-images .responsive-image-card .responsive-title h2 {
  font-size: 1rem;
  font-weight: 500;
  color: gray;
}
.responsive-images .responsive-image-card .responsive-title .price {
  color: black;
  font-weight: 500;
}

.responsive-table {
  width: 100%;
  display: flex;
  justify-content: center;
}
.responsive-table table {
  border-collapse: collapse;
  color: rgb(51, 51, 51);
  font-weight: 400;
  width: 70%;
}
.responsive-table table .desktop-hidden-tr {
  display: none;
}
.responsive-table table tr td {
  padding: 2rem;
}
.responsive-table table tr td .mobile-hidden {
  display: none;
}
.responsive-table table tr .mobile-hidden-image {
  display: none !important;
}
.responsive-table table i {
  margin-left: 0.3rem;
}
.responsive-table table .table-image p {
  text-transform: uppercase;
}
.responsive-table table .table-image img {
  width: 10rem;
  height: 10rem;
}
.responsive-table table td {
  text-align: center;
  width: 10rem;
}
.responsive-table table tr,
.responsive-table table td,
.responsive-table table th {
  padding: 1rem;
  border-bottom: 1px solid lightgray;
}
.responsive-table table th {
  color: rgb(17, 17, 17);
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media screen and (max-width: 790px) {
  header {
    height: calc(6rem - 20px);
  }
  header img {
    width: 70px;
    height: 50px;
  }
  header .desktop_header {
    display: none;
  }
  header .mobile_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .mobile_header i {
    font-size: 1.7rem;
    margin: 2rem;
  }
  .responsive-images {
    grid-template-columns: repeat(2, 1fr);
  }
  .responsive-table table .mobile-hidden-more-height {
    height: 155px;
  }
  .responsive-table table .table-image img {
    width: 5rem !important;
    height: 5rem !important;
  }
  .responsive-table table .table-image p {
    margin-top: 1rem;
  }
  .responsive-table table .mobile-hidden-tr {
    display: none;
  }
  .responsive-table table .desktop-hidden-tr {
    display: table-row;
  }
  .responsive-table table .desktop-hidden {
    display: none;
  }
  .responsive-table .simulate-th {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -2.3rem;
  }
  .responsive-table tr .mobile-hidden {
    display: flex !important;
    flex-direction: column;
  }
}
@media screen and (max-width: 436px) {
  .responsive-table {
    overflow-y: scroll;
  }
  .responsive-table table {
    margin-left: 5rem;
  }
}
@media screen and (max-width: 306px) {
  .responsive-table table {
    margin-left: 10rem; /*En resoluciones muy pequeñas, como el overflow-y está en scroll ,para que no se corte, se le añade un margin-left muy grande para poder ver la tabla completa sin que se corte*/
  }
}
@media screen and (max-width: 240px) {
  .responsive-table table {
    margin-left: 15rem; /*En resoluciones muy pequeñas, como el overflow-y está en scroll ,para que no se corte, se le añade un margin-left muy grande para poder ver la tabla completa sin que se corte*/
  }
}/*# sourceMappingURL=index.css.map */